{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jasmine": true
    },
    "rules":{
        "indent": "off",
        "linebreak-style": "off",
        "eol-last":"off",
        "spaced-comment":"off",
    
        "comma-dangle": [
            "error",
            "never"
        ],

        "no-unused-vars": [
            "error", {
              "vars": "local",
              "args": "none" 
            }

        ]
    }
}