body{ 
    font-family: oxygen, Georgia, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: auto;
    background: #f2f2f2;   
}

/* Global */
.container{
    width: 100%;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

/* navbar */

/* .navbar{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;  
}
.navbar #ilogo{
    float: left;
    height: 85px;
    margin-right: 10px;
    max-width: 80px;
    margin-bottom: -25px;
}
.navbar #ilogo h2{
    color: #fdfdf4;
    margin: 0;
    position: fixed;
    font-size: 28px;
    font-weight: 600;
}
.navbar #ilogo h2::first-letter{
    color:red;
}
.navbar a {
    color:#fdfdf4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font: oxygen, Georgia, sans-serif
    }

 .inavbar li{
    display: inline;
    padding: 20px; 
 }

 .inavbar li:hover {
    text-decoration: underline;
    color: #2522ce8a;
    cursor: pointer;
}
  

.navbar .inavbar{
    right: 0px;
    width: 40%;
    max-width: 100%;
    position: fixed;
    padding-top: 10px;
} */
/* ireport view page */
.ireport-header{
    background-image: linear-gradient(rgba(33, 3, 235, 0.63), rgba(33, 46, 235, 0.63)), url("../img/ibackground3.jpg");
    height: 10vh;
    background-position: bottom -50%;
    width: 100% !important;
}

.ireport-view{

    width: 60%;
    margin: 0 20% 20px 20%;
    height: 100%;
}

.report-single{
    background-color: #fff;
    overflow: auto;
   
}

figure img{
    margin-left: 10%;
    width: 80%;
}

.report-single h2{
    text-align: center;
    padding-top: 8px;
    margin: 10px 0 -10px 0;
    text-transform: capitalize;
    line-height: 10px;
    padding-bottom: 20px;
} 
.view-desc ul li{
    padding: 0 50px;
    color: rgb(51, 49, 49);
    background: url(img-li.png) no-repeat center left;
    list-style: none;
}

.view-desc ul {
    padding: 0 50px;
    font-weight: 200px;
    font-size: 15px;
}

.view-desc li{
    display: list-item;
    text-align: -webkit-match-parent;
}


.view-desc p {
    padding: 0 50px;
    color: #0a0a02;
    font-family: oxygen, Georgia, sans-serif;

}

.report-single .report-date ul li{
    border-bottom: solid 1px #efefef;
}
.report-single ul li:last-child {
    border-right: none;
}

.report-date ul li {
    padding: 10px 2px;
    text-align: center;
    width: 33.3%; 
    border: solid 1px #efefef;
    border-left: none;
    border-bottom: none;
    list-style: none;

}

.report-date li{
    float: left;
}

.space{
    float: none;
    clear: both;
}

.container {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4565a0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #bdc5d4;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }

  .row{
      margin-top: 15px;
  }
  
  .col-25 {
    float: left;
    width: 15%;
    font-size: 20px;
    font-weight: 400;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .col-75 input{
      width: 50%;
      padding: .5rem 1rem;
      height: 50px;
      border: 1px solid grey;
  }
  /* input[type="file"] {
    display: none;
} */
.col-75 label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 3rem;
    width: 51.5%;
}

.vidim input {
    margin: 0;
    filter: alpha(opacity=0);
    display: none;
}

/* .file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    width: 100%;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
} */

.file-custom:before {
    /* position: absolute; */
    z-index: 6;
    display: block;
    text-align: center;
    content: "Upload Media";
    height: 3rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
    border: .075rem solid #ddd;
    border-radius: 0 .25rem .25rem 0;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.commentContain {
    /* width: 650px; */
    max-height:100%;
    overflow:auto;
}
.commentContain ul {
    padding: 0;
}

.commentContain ul li {
    padding: 0;
}

.media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
    margin-right: 10px;
}
.media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.customFile {
    display: flex;
}
/* .input-file-container {
    position: relative;
    width: 100%;
    
  }  */
  .input-file-trigger {
    display: block;
    padding: 12px 10px;
    background: #5a39d2;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
  }
   .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
    text-align: center;
  }
   .input-file:hover + .input-file-trigger,
   .input-file:focus + .input-file-trigger,
  .input-file-trigger:hover,
  .input-file-trigger:focus {
    background: #374655;
    color: #cfc2f1;
  }
  
  .file-return {
    margin: 0;
    border: #5a39d2;
  }
  .file-return:not(:empty) {
    margin: 1em 0;
  }
   .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
  }
  .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
    /* color: #414046; */
  }


@media(max-width: 768px){
    .inavbar li {
        display: inline;
        text-align: center;
        font-size: inherit;
        display: none;
    }

    .commentContain {
        width: 650px;
        max-height:100%;
        overflow:auto;
    }
    /* .inavbar:placeholder-shown {
        font-display: block;
    } */
    .ireport-header {
        background-image: linear-gradient(rgba(33, 3, 235, 0.63), rgba(33, 46, 235, 0.63)), url(../img/ibackground3.jpg);
        height: max-content;
        background-position: bottom -50%;
        width: 100% !important;
    }
    .report-single h2 {
        margin-top: 10px;
        font-size: 20px;
    }
    .ireport-view {
        width: 90%;
        margin: 0;
    }
    .report-date{
        text-align: center; 
    }
} 

 
