.hiw-container {
    padding: 10%;
   align-items: center;
}
/* .how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 25px;
} */
/* .how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
} */
.how-section1 .row
{
    margin-top: 15%;
}
.how-img 
{
    text-align: center;
    width: 40%;
    margin: auto ;
}
.how-img img{
    width: 25%;
}

@media screen and (min-width: 600px) and (max-width: 780px) {

    .how-img img{
        width: 70%;
    }

}
@media screen and (max-width: 780px) {
.how-img {
    text-align: center;
}
}

.how-text {
    font-family:Century Gothic, Georgia, sans-serif;
    color:#fdfdf4;
    font-size: 16px;
}

/* @media (max-width: 780px){
    .how-img img{
        width: 40%;
    }
} */

.col-md-6 h4 {
    color: white;
    font-weight: 600;
}

