html, body{
    margin: 0 !important;
    padding: 0 !important;
}
html {
    overflow-y:scroll;
    overflow-x:scroll;
}

/* Global */


.home{
    background-image: linear-gradient(rgba(33, 3, 235, 0.63), rgba(33, 46, 235, 0.63)), url("../img/ibackground3.jpg");
    min-height: 100vh;
    max-height: 100%;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font: oxygen, Century Gothic, Georgia, sans-serif;
    /* box-sizing: inherit;
    position: relative; */
}
/* Navbar styling */

/* .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

/* .collapse.show {
    display: block;
} */

.nav-con {
    width: 100%;
    align-items: baseline;
}

/* .nav-con.scrolled{
    padding-bottom: 10%;
} */

.nav-r {
    padding-left: 20% !important;
}

.nav-item {
    font-family: Century Gothic;
    margin: 0 auto;
    padding: .9em 2.5em .5em.5em;
}

/* .nav-item-divider {
    height: 2px;
    background: #D5DCE5;
    margin-left: -15px;
    margin-right: -15px;
} */

.nav-item a {
    color: #FFF;
    text-decoration: none;
    font: 20px Century Gothic;
    padding: 10px;
    text-align: center;
    z-index: 0;
    white-space: nowrap;
    display: inline-block;
}


/* Top & Bottom Borders Out */
.topBotomBordersOut a:before, .topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content:"";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}
.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}
.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

#ilogo{
    float: left;
    height: 85px;
    margin-right: 100px;
    max-width: 80px;
    margin-bottom: -5px;
    color: #fdfdf4;
    position: fixed;
    font-size: 1.5em !important;
    font-weight: 600;
    font: Century Gothic, Georgia, sans-serif
}

#ilogo::first-letter{
    color:red;
}

@media (max-width: 700px){
/* .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
} */
#ilogo{
    position: inherit;
}
.fixed-top {
    position: relative !important;
    right: auto;
}
li.nav-item.active {
    color: rgba(72, 56, 205, 0.85);
}
.navbar-nav {
    max-width: 80%;
}
.nav-item a {
    padding: 0 0 0 10px !important;
}
/* .navbar>.nav-con {
    display: flex;
    justify-content: space-between;
} */
}
/* .navbar{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
}
.navbar #ilogo{
    float: left;
    height: 85px;
    margin-right: 10px;
    max-width: 80px;
    margin-bottom: -25px;
}
.navbar #ilogo h2{
    color: #fdfdf4;
    margin-top: 10px;
    position: fixed;
    font-size: 28px;
    font-weight: 600;
    font: oxygen, Georgia, sans-serif
}
.navbar #ilogo h2::first-letter{
    color:red;
}
.navbar a {
    color:#fdfdf4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font: oxygen, Georgia, sans-serif;
    }

 .inavbar li{
    display: inline;
    padding: 20px;
    font: oxygen, Georgia, sans-serif
 }

 .inavbar li:hover {
    text-decoration: underline;
    color: #2522ce8a;
    cursor: pointer;
}


.navbar .inavbar{
    right: 0px;
    width: 40%;
    max-width: 100%;
    position: fixed;
    padding-top: 10px;
}


 .icreate li{
    position: inline;
    width: 20%;
    padding-top: 10px;
    max-width: 100%;
}  */

/* Brief Text on Home */
/* .span4 .ibrief {
    margin-right: 10px;
    float: left;
} */

/* .ibrief{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color:#fdfdf4;
  font-family:Century Gothic, Georgia, sans-serif;

} */


.ibrief{
    width: 45%;
    padding: 10% 0 0;
    margin-left: 25px;
    min-height: 200px;
    float: left;
    font-family:Century Gothic, Georgia, sans-serif;
    color:#fdfdf4;
    text-align: center;
    padding-top: 15%;
}

#irepButton{
    font-family: Century Gothic, Georgia, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0905f5;
    color: #f8f7e9;
    width: 35%;
    border-radius: .5em;
    border: 0;
    margin-left: 35%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#irepButton a {
    color: #f8f7e9;
    
}
/* .iform{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

} */

.iform{
    width: 30%;
    padding: 10% 0 0;
    margin-right: 100px;
    min-height: 200px;
    float: right;

}
form h6 {
    color: #054c9c;
    font-size: 1.1rem;
}

.form-check {
    font-family:Century Gothic, Georgia, sans-serif;
    color: #495057;
    font-size: 18px;
}

input[type=radio] {
    transform: scale(1.3);
}
.form-check-label  {
    position: relative;
    display: block;
    /* padding-left: 0; */
    text-align: left;
    margin: 0 0 12px 0 !important;
}

.form-check .form-check-input {
    width: 60px !important;
    margin: 10px 0 !important;
}

.iform-1{
   position: relative;
   z-index: 1;
   background-color: rgba(255, 255, 255, 0.623);
   margin:  0 auto;
   padding: 10px 45px;
   text-align: center;
   margin-bottom: 20px;

}

 .iform-1 input{
    font-family:Century Gothic, Georgia, sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    overflow: overlay;
    cursor: pointer;
}

/* .iform-1 #result{
   font-family:Century Gothic, Georgia, sans-serif;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
   overflow: overlay;
   cursor: pointer;
} */

.iform-1 button {
    font-family:Century Gothic, Georgia, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0905f5;
    color: #f8f7e9;
    width: 80%;
    border-radius: .5em;
    border: 0;
    padding:10px;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.iform-1 h2 h6{
    font-family: Century Gothic, Georgia, sans-serif;
    /* text-transform: uppercase; */
    font-size: 14px;
}

.iform-1 p{
    margin: 15px 0 0;
    font-family: oxygen, Georgia, sans-serif;
    font-size: 12px;
}

.iform-1 h3{
    margin: 15px 0 0;
    font-family: Century Gothic, Georgia, sans-serif;
    color: #f8f7e9;
    display: block;
    font-size: 1.7em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.iform-1 p a{
    color: #054c9c;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

.iform-1 button:hover, .iform-1 button:active{
    background-color: #2905f58c;
    color: white;
}

@media (max-width: 780px) {
    /* .fixed-top {
        right: auto !important;
    } */
  .ibrief {
    width: 70%;
    text-align: center;
    margin-left: 15%;
  }
  .iform {
    width: 70%;
    text-align: center;
    margin-right: 15%
  }
  .iform-1
  {
    padding: 10px 25px;
  }
  /* .nav-item {
    padding: .8em 0 0 .5em;
} */
}

#redf{
    display: none;
}

#change:hover {
    text-decoration: underline;
    color: #2522ce8a;
    cursor: pointer;
}

#change1:hover {
    text-decoration: underline ;
    cursor: pointer;
    color: #2522ce8a;
}

/* Flag/Intervention Form */

.form-control {
    font-family: Century Gothic, Georgia, sans-serif;
    background: #f2f2f2 !important;
    width: 100%;
    height: 50px !important;
    border: 0;
    margin: 0 0 15px;
    padding: 0 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    z-index: 999;
}

/* .icHolder a {
    line-height: 15px;
    background-position: 0 -113px;
    text-align: center;

} */

.icSelector option {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.icSelector:link, .icSelector:visited, .icSelector:hover {
    color: #141313b2;
    outline: none;
    width: 100%;
    text-decoration: none;

}

.icSelector:hover {
    text-decoration: underline ;
    cursor: pointer;
    color: #2522ce8a;
}

.icSelector option {
    font-family: century Gothic, oxygen, Georgia, sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 0 015px;
    box-sizing: border-box;
    font-size: 14px;
}

.icSelector option {
    display: none;
    list-style: none;
}

.icSelector option.active{
    display: inline-block;
}

.icOptions > option {
    padding: 0 5px;
    cursor: pointer;
}

.icOptions option a{
    color: #060886;
    text-decoration: none;
}


/* @media(max-width: 768px){
       .inavbar li {
        display: inline;
        text-align: center;
        font-size: inherit;
        float: none;
        padding: 0;
    }

    .navbar #ilogo h2{
        font-size: 20px;
    }

    .ibrief{
        width: 100%;
        margin-bottom: 0;
        float: none;
        text-align: center;
        font-size:12px;
        padding-top: 30px;
        margin: 0;
        min-height: 100px;
    }

    .iform{
     width : 80%;
     margin-right: 10%;
     padding: 0;
    }

    .iform-1{
        padding: 0;
        margin:0;
        text-align: center;
        float: none;
    } */

/*
    footer{
        text-align: center;
    }
}*/
