body {
  font-family: oxygen, Georgia, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: auto;
  background: #f2f2f2;
}

/* Global */
.container {
  width: 100%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}
.iform-1 {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.623);
  margin: 0 auto;
  padding: 10px 45px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: 10px;
}
.comhere ul li {
  list-style: none;
}

.comhere h3 {
  margin-bottom: 5px;
}

.commentText {
  width: 90%;
  background-color: #efefef;
  height: 80px;
  padding-right: 10px;
  width: 100%;
  border-color: #efefef;
}

.idate {
  padding-right: 10px;
  font-size: small;
}

#ifeatured {
  float: left;
  width: 25%;
  padding: 0 10px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, serif;
}

.iform {
  width: 30%;
  padding: 10% 0 0;
  margin-right: 100px;
  min-height: 200px;
  float: right;
}

.postcomments {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 10px 45px;
  text-align: center;
}

.comment input {
  font-family: Cambria, Cochin, Georgia, serif;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: solid 1px;
  border-color: #efefef;
}

.commentarea {
  font-family: Cambria, Cochin, Georgia, serif;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: solid 1px;
  border-color: #efefef;
  height: 65px;
}

.iform-1 p a:hover {
  text-decoration: underline;
  color: #2522ce8a;
  cursor: pointer;
}

.iform-1 button:hover,
.iform-1 button:active {
  background: #2905f58c;
  color: #f8f7e9;
}

/* Admin Navigation */

.acontainer {
  width: 100%;
  height: 600px;
  margin: auto;
  /* overflow: hidden; */
}

#anavbar {
  background-color: #353533;
  color: #fff !important;
  height: 50px;
  width: 100%;
  display: block;
}

.inavbar ul span {
  font-size: 1.2em;
  font-style: italic;
  color: #3f20eed8;
}

#anavbar #ilogo {
  float: left;
  height: 85px;
  max-width: 80px;
  padding-top: 10px;
  margin-bottom: -25px;
}
#anavbar #ilogo h2 {
  margin: 0;
  font-weight: 600;
  padding-left: 10px;
}

#ilogo h2::first-letter {
  color: red;
}

#anavbar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

#anavbar li {
  display: inline;
  padding: 20px;
}

#anavbar .inavbar {
  float: right;
  /* width: 40%; */
  max-width: 100%;
  padding-top: 10px;
}

#ifeatured {
  float: right;
  width: 25%;
  padding: 0 10px;
}

nav {
  display: block;
  position: absolute;
  width: 200px;
  margin-left: 0;
  top: 50px;
  height: calc(100% - 60px);
  background-color: #353533;
}

#adminmenu {
  background-color: #353533;
  padding-top: 120px;
  color: #fff;
  text-align: left;
  line-height: 50px;
  font-size: 1.3em;
  font-family: oxygen, Georgia, sans-serif;
}

#adminmenu li {
  width: 100%;
  height: 35px;
  line-height: 20px;
  background-color: #353533;
}

#adminmenu li > a {
  font-size: 0.9em;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#adminmenu li > a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #2522ce8a;
  /* Admin Activity */
}
#iadmin {
  position: absolute;
  float: right;
  top: 50;
  right: 0;
  height: calc(100% - 60px);
  width: calc(100% - 200px);
  background-color: #f5f5d0d0;
}

.title {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 20px;
  margin-top: 1.5em;
  font-size: 1.7em;
  font-family: oxygen, Georgia, sans-serif;
}

#display,
#interva {
  width: 90%;
  margin-left: 100px;
}

#homea table {
  background: #1019997a;
  width: 30%;
  height: auto;
  margin-right: 10px;
  float: left;
  color: #efefef;
}

#tsum {
  background-color: #1019997a;
  font-size: 50px;
  width: 20%;
}

#tflag,
#tflagi {
  background: #101999bb;
  width: 100%;
  height: auto;
  margin-left: -35px;
  color: #fff;
  border: solid 1px;
}

tfoot {
  background: #101999bb;
  width: 80%;
  max-height: 50px;
  margin-left: 0px;
  color: #fff;
  border: solid 1px;
}

#tflag th,
#tflagi th {
  background-color: #101999bb;
  height: 40px;
  width: 50px;
  border-bottom: solid 1px;
}
#tflag td,
#tflagi td {
  border: solid 1px;
  border-top: none;
  text-align: center;
  max-height: 60px;
  width: 50px;
}

td button {
  cursor: pointer;
}

.aiform {
  width: 30%;
  margin: 0 35%;
}

.footer {
  width: 100%;
  height: auto;
  max-height: 120px;
  background: #c2c2b0;
  position: fixed;
}

.iform-1 input {
  font-family: oxygen, Georgia, sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  overflow: overlay;
  cursor: pointer;
}

.iform-1 button {
  font-family: oxygen, Georgia, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0905f5;
  color: #f8f7e9;
  width: 80%;
  border: 0;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #adminmenu {
    font-size: 0.8em;
    text-align: center;
    padding: 0;
  }
  .inavbar {
    font-size: 0.9em;
  }

  nav {
    font-size: 20px;
    max-width: 100px;
  }
  #iadmin {
    float: left;
    top: 10;
    width: calc(100% - 100px);
  }

  .iform {
    width: 100%;
    padding: 0;
  }

  .iform-1 {
    padding: 0;
    margin: 0;
    text-align: center;
    float: left;
  }

  #homea table {
    background: #1019997a;
    width: 90%;
    height: 200px;
    margin-right: 10px;
    float: left;
    color: #efefef;
  }
  #tsum {
    font-size: 1.5rem;
    width: 100%;
    margin-left: -35px;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .aiform {
    width: 60%;
    margin: 0 20%;
  }
}

@media (max-width: 550px) {
  .aiform {
    width: 95%;
    margin: 0 2.5%;
  }
}
