#form-page {
    background-image: linear-gradient(rgba(33, 3, 235, 0.63), rgba(146, 179, 240, 0.418));
    /* min-height: 100vh; */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}


.siform {
    width: 35%;
    padding: 10% 0 0;
    margin: 0 36%;
    
}

.coform {
    padding: 10% 0 0;
    margin: 0 5%;
    
}

.siform-1 {
   position: relative;
   z-index: 1;
   background-color: rgba(255, 255, 255, 0.623);
   padding: 10px 0px 10px 25px;
   text-align: center;
   margin-bottom: 140px;

}

.coform-1 {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 10px 0px 10px 25px;
    margin-bottom: 20px;
 
 }

.siform-1 button {
    font-family: oxygen, Georgia, sans-serif;
    text-transform: uppercase;
    outline: 0;
    margin-left: 6%;
    background: #0905f5;
    color: #f8f7e9;
    width: 80%;
    border: 0;
    padding:10px;
    font-size: 14px;
    cursor: pointer;
}

.coform-1 button {
    font-family: oxygen, Georgia, sans-serif;
    text-transform: uppercase;
    outline: 0;
    margin-left: 15%;
    background: #0905f5;
    color: #f8f7e9;
    border: 0;
    padding:10px;
    font-size: 14px;
    cursor: pointer;
}

.siform-1 p {
    margin: 15px 0 0;
    font-family: oxygen, Georgia, sans-serif;
    font-size: 12px;
}

.siform-1 h3 {
    margin: 15px 0 0;
    font-family: oxygen, Georgia, sans-serif;
    color: #474745;
    display: block;
    font-size: 1.17em;
    padding-right: 8%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.siform-1 p a {
    color:#05219c;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

.siform-1 button:hover, .iform-1 button:active{
    background: #2905f58c;
    color: #f8f7e9;
}

#change:hover {
    text-decoration: underline;
    color: #2522ce8a;
    cursor: pointer;
}

#change1:hover {
    text-decoration: underline ;
    cursor: pointer;
    color: #2522ce8a;
}

@media(max-width: 768px){
    .siform {
        width: 60%;
        text-align: center;
        margin: 20%;
      }
      .siform-1
      {
        padding: 10px 25px;
      }
    
} 

textarea.form-control {
    height: 120px !important;
}

